<form *ngIf="question" #form="ngForm">
  <p *ngIf="showFeedback" id="feedback" class="feedback">{{ feedback }}</p>
  <p id="question_text" [innerHTML]="question.text"></p>
  <div id="answers">
    <div class="answer_wrapper" *ngFor="let answer of question.randomAnswers; let idx = index">
      <input type="radio" name="answers" id="answer_{{idx}}" value="{{answer}}" [(ngModel)]="selectedAnswer" />
      <label [ngClass]="getAnswerClass(answer)" for="answer_{{idx}}" [innerHTML]="answer"></label>
    </div>
  </div>
  <p>
    <input *ngIf="showFeedback === false" (click)="evaluateQuestion(form.value)" class="button" id="submit_question" name="submit_question" type="submit" value="Check" />
    <input *ngIf="showFeedback" (click)="callNextQuestion()" class="button" id="next_question" name="next_question" type="submit" value="Continue" />
  </p>
</form>
